form.entity-translation-sync-settings .entity-translation-sync-settings-bundle-enabled~label {
  font-weight: bold;
}

form.entity-translation-sync-settings .entity-translation-sync-settings-bundle-field~label {
  margin-left: 3em;
}
